Package: com.mtac.unveil
Name: Unveil
Version: 1.0.0
Architecture: iphoneos-arm
Description: Show non default System apps on SpringBoard
Maintainer: MTAC
Author: MTAC
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
